body {
    margin: 0;
    font-family: "Funnel Display", sans-serif;
    background-color: whitesmoke;
}

/*header*/
header {
    background-color: #1C1C1E;
    color: whitesmoke;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /*para poner el boton a la derecha*/
}

.section1_headerIncio {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1_headerIncio a { /*para quitar el estilo de los enlaces*/
    text-decoration: none;
    color: whitesmoke;
}

h1 {
    font-size: 50px;
    margin: 0;
    text-decoration: none;
    color: whitesmoke;
}

.button_incioSesion {
    height: 30px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    position: absolute; /*para poner el boton a la derecha*/
    top: 5;
    right: 0;
    margin-top: -15px;
    margin-right: 25px;
    border-style: none; /*quitar el estilo del borde del boton*/
}

button:hover { /*añadir hover al boton*/
    cursor: pointer;
    background-color: #d4d4d4;
}

.li_nav {
    width: 700px;
    margin-top: 7px;
    margin-bottom: 5px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}


/*main*/



/*footer*/
footer {
    background-color: #1C1C1E;
    color: whitesmoke;
    margin: 0;
}

.p_footer {
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
}
