body {
    margin: 0;
    font-family: "Funnel Display", sans-serif;
    background-color: whitesmoke;
}

/*header*/
header {
    background-color: #1C1C1E;
    color: whitesmoke;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /*para poner el boton a la derecha*/
}

.section1_headerIncio {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1_headerIncio a { /*para quitar el estilo de los enlaces*/
    text-decoration: none;
    color: whitesmoke;
}

h1 {
    font-size: 50px;
    margin: 0;
    text-decoration: none;
    color: whitesmoke;
}

.button_incioSesion {
    height: 30px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    position: absolute; /*para poner el boton a la derecha*/
    top: 5;
    right: 0;
    margin-right: 25px;
    border-style: none; /*quitar el estilo del borde del boton*/
    margin-top: -15px;
}

button:hover { /*añadir hover al boton*/
    cursor: pointer;
    background-color: #d4d4d4;
}

.li_nav {
    width: 700px;
    margin-top: 7px;
    margin-bottom: 5px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}


/*main*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.container_filtrosEquipos {
    background-color: #E0E0E0;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 500px;
}

.select_filtroEquipos {
    font-family: "Funnel Display", sans-serif;
    background-color: white;
    width: 135px;
    margin-left: 15px;
    border-radius: 7px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
    cursor: pointer;
}

.input_filtrosEquipos {
    border-radius: 7px;
    margin-top: 15px;
    margin-left: 5px;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

/*fila 1*/
.fila1_equipos {
    width: 1000px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fila1_equipos img { /*para que las fotos se ean del mismo tamaño automaticamente*/
    width: 150px;
    height: 150px;
    object-fit: contain; /*para fijar img del mismo tamaño*/
}

.barca {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.barca:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.realMadrid {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.realMadrid:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.atleticoMadrid {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.atleticoMadrid:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.villareal {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.villareal:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

/*fila 2*/
.fila2_equipos {
    width: 1000px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fila2_equipos img { /*para que las fotos se ean del mismo tamaño automaticamente*/
    width: 150px;
    height: 150px;
    object-fit: contain; /*para fijar img del mismo tamaño*/
}

.betis {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.betis:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.celta {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.celta:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.realSociedad {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.realSociedad:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.getafe {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.getafe:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

/*fila 3*/
.fila3_equipos {
    width: 1000px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fila3_equipos img { /*para que las fotos se ean del mismo tamaño automaticamente*/
    width: 150px;
    height: 150px;
    object-fit: contain; /*para fijar img del mismo tamaño*/
}

.osasuna {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.osasuna:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.espanyol {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.espanyol:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.girona {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.girona:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.athletic {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.athletic:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

/*fila 4*/
.fila4_equipos {
    width: 1000px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fila4_equipos img { /*para que las fotos se ean del mismo tamaño automaticamente*/
    width: 150px;
    height: 150px;
    object-fit: contain; /*para fijar img del mismo tamaño*/
}

.rayoVallecano {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.rayoVallecano:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.valencia {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.valencia:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.mallorca {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.mallorca:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.sevilla {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.sevilla:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}


/*fila 5*/
.fila5_equipos {
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fila5_equipos img { /*para que las fotos se ean del mismo tamaño automaticamente*/
    width: 150px;
    height: 150px;
    object-fit: contain; /*para fijar img del mismo tamaño*/
}

.alaves {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.alaves:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.elche {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.elche:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.levante {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.levante:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}

.oviedo {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out; /*para hacer animacion suave*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /*para añadir sombra*/
}

.oviedo:hover {
    cursor: pointer;
    background-color: #CFCFCF;
    transform: scale(1.05); /*para hacer animacion suave*/
}



/*footer*/
footer {
    background-color: #1C1C1E;
    color: whitesmoke;
    margin: 0;
}

.p_footer {
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
}
